.container {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 150px;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.score {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  justify-content: center;
}

.scoreToken {
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .scoreToken {
    height: 25px;
  }

  .container {
    height: 90px;
  }
}
