button {
  background: linear-gradient(to right, #029df5, #fa0ec6, #fa951e);
  border-radius: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
  border: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
